<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>CarbonVote</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
</head>
<body>
<main>
  <header>
    <h1 class="title">CarbonVote</h1>
    <p class="desc">
      Carbonvote.com was initiated during the DAO hard fork and conducted vote in
      a secure web-page fashion with the feature that the voting conducted did not
      require coins to leave voters’ wallets. It had been a great source of reference
      when the community decided to go with the fork. Our thanks to all that participated
      in the last and our first round of the vote in DAO hard fork.
    </p>
  </header>
</main>

<article class="intro">
  <h2>Hey Ethereum Community,</h2>
  <p>In the face of the approaching Ice Age, we are faced with problems:</p>
  <p>
    The prolonged block time in the Ice Age does serve a purpose for reducing
    incentives for miners and so as to facilitate the adaption to the PoS hardfork(s);
    however, it is at the expense of slower responsiveness in the system.
  </p>

  <p>
    Appeals for removing the difficulty bomb and delaying the Ice Age are voiced
    in the community, but at the same time, it would also mean the continuous
    inflation of coins remains. Thus, we also see corresponding proposals for a
    reduction of Etherum coin emission to maintain the original more predictable
    supply plan, which would be beneficial for increasing investments and in the
    long run, a robust and stable growth for the platform.
  </p>

  <p>
    There it came EIP#186(<a href="https://github.com/ethereum/EIPs/issues/186">https://github.com/ethereum/EIPs/issues/186</a>).
    EIP#186 is drafted in the spirit of preserving fast response of the system, ensuring
    a smoother transition to PoS, and at the same time a decrease in per-block rewards.
  </p>

  <h3>Rationale for the choice of motion:</h3>
  <p>
    Instead of a direct vote on EIP#186, we propose for a show of preference
    first. And as the discussion is both about choosing the direction of economic
     model and its policies, the motion is designed in a slightly more compound
     form to provide guidelines for detailed policy making that follows.
  </p>

  <p>
    <strong>
      Motion: The ice age should not be extended without at least some decrease in block rewards.
    </strong>
  </p>

  <p>
    In the case of the proposition, <strong>we would like to have a differentiation on
    the preferred per-block minimum rewards</strong>
  </p>
</article>

<section class="vote">
  <h2 class="title">How to vote?</h2>
  <p>
  Instead of a direct vote on <a href="https://github.com/ethereum/EIPs/issues/186">EIP#186</a>, we propose for a show of preference
    first. And as the discussion is both about choosing the direction of economic
    model and its policies, the motion is designed in a slightly more compound
    form to provide guidelines for detailed policy making that follows.
  </p>

  <div class="box-wrapper">
    <div class="box">
      <div>
        <p class="choice">No</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:no_contract] %>">
          <%= settings.contract_addresses[:no_contract] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:no_contract).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:no_contract] %>">
          Vote
        </button>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="choice">YES: 0 ≤ reward < 1.5</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:yes_contract_1] %>">
          <%= settings.contract_addresses[:yes_contract_1] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:yes_contract_1).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:yes_contract_1] %>">
          Vote
        </button>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="choice">YES: 1.5 ≤ reward < 2</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:yes_contract_2] %>">
          <%= settings.contract_addresses[:yes_contract_2] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:yes_contract_2).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:yes_contract_2] %>">
          Vote
        </button>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="choice">YES: 2 ≤ reward < 3</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:yes_contract_3] %>">
          <%= settings.contract_addresses[:yes_contract_3] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:yes_contract_3).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:yes_contract_3] %>">
          Vote
        </button>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="choice">YES: 3 ≤ reward < 4</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:yes_contract_4] %>">
          <%= settings.contract_addresses[:yes_contract_4] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:yes_contract_4).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:yes_contract_4] %>">
          Vote
        </button>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="choice">YES: reward ≥ 4</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:yes_contract_5] %>">
          <%= settings.contract_addresses[:yes_contract_5] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:yes_contract_5).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:yes_contract_5] %>">
          Vote
        </button>
      </div>
    </div>
  </div>
</section>

<section class="status">
  <h3 class='title'>Last Block: <%= last_block %></h3>

  <div class="main-status">
    <div class='info left'>
      <p class="label">NO</p>
      <p class="percent"><%= no_precentage %>%</p>
      <p class="ether"><%= no_vote_amount %> ether</p>
    </div>

    <div class="pie-chart-container">
      <canvas id="pie-chart"></canvas>
    </div>

    <div class='info right'>
      <p class="label">YES</p>
      <p class="percent"><%= yes_precentage %>%</p>
      <p class="ether"><%= yes_vote_amount %> ether</p>
    </div>
  </div>

  <div class="bar-chart-container">
    <canvas id="bar-chart"></canvas>
  </div>
</section>

<section class="faq">
  <h2 class="title">Carbonvote.com Mechanism</h2>
  <div class="inner">
    <div class="item">
      <p class="question">1) Who should vote?</p>
      <p class="anwser">We believe the legitimate voters should be players who have ethers in their wallets.</p>
    </div>

    <div class="item">
      <p class="question">2) So we are going to count heads?</p>
      <p class="anwser">No. We are going to count coins, in this case, ethers. How many ethers you have, how many votes you have.</p>
    </div>

    <div class="item">
      <p class="question">3) How to vote?</p>
      <p class="anwser">
        Simply, send a 0-ETH transaction from your wallet to the YES or NO address.
        The transaction itself serves as a message of the vote.
        The ethers under the from address of the transaction will be considered
        a unanimous batch of ballots that support or oppose the proposal of a
        hard fork. For the transactions to be done successfully,
        <strong>a minimum amount of transaction fee of 30,000 gas (0.0006 ETH) is required.</strong>
      </p>

      <p class="anwser">
        <strong>Your ethers are safe in your wallets. We won’t collect or lock money.</strong>
      </p>
    </div>

    <div class="item">
      <p class="question">4) How’s the vote counted?</p>
      <p class="anwser">
        Carbonvote.com dynamically calculates the ETH that has gone to the two sides as the vote is going on.
      </p>

      <p class="anwser">
        So you can change your mind, you can overwrite your vote by resending your
        message or move the ETH from the addresses that have participated so as
        to suggest that you are abstaining from the vote as the ETH won’t be able
        to be counted as votes anymore.
      </p>
    </div>
  </div>
</section>

<section class="about">
  <h2 class="title">About Carbonvote.com</h2>
  <div class="inner">
    <p><a href="http://carbonvote.com">Carbonvote.com</a> was initiated during the DAO hard fork and conducted vote in a secure web-page fashion with the feature that the voting conducted did not require coins to leave voters’ wallets. It had been a great source of reference when the community decided to go with the fork. Our thanks to all that participated in the last and our first round of the vote in DAO hard fork.</p>
    <p>Once again, <a href="http://carbonvote.com">Carbonvote.com</a> is a community initiated project devdicated to
    be an important source of reference in a quantitate way, to offer suggestions to the directions of Ethereum for developers and the Ethereum Foundation. We are open to feedbacks to improve in order to better serve the purpose.</p>
  </div>
</section>

<section class="exchange-filter">
  <!--
  <h2 class="title">Accounts filtered (Exchange's withdraw address)</h2>
  <ul>
    <% settings.black_list.each do |name, address| %>
      <li><%= name %>: <a href="http://etherscan.io/address/<%= address %>"><%= address %></a></li>
    <% end %>
  </ul>
  <p class="desc">
    你可以提交交易所地址  BALALDBALALS
  </p>
  <div class="inner">
    <input type="text" placeholder="input address">
    <button type="submit">submit</button>
  </div>
  -->
</section>

<a href="https://github.com/ethfans/carbonvote"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>
